[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
jinja2 = "*"
aiohttp-jinja2 = "*"
aiohttp-security = "*"
sqlalchemy = "*"
asyncpg = "*"
passlib = "*"
fernet = "*"
aiohttp-session = {extras = ["secure"], version = "*"}
alembic = "*"
psycopg2-binary = "*"
pytest-aiohttp = "*"
pyyaml = "*"

[dev-packages]
python-dotenv = "*"

[requires]
python_version = "3.9"
