[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
jinja2 = "*"
aiohttp-jinja2 = "*"
aiohttp-security = "*"
sqlalchemy = "==1.4.0b3"
asyncpg = "*"
passlib = "*"
fernet = "*"
aiohttp-session = {extras = ["secure"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
